@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        src: url(/public/static/Inter-Black.ttf) format(ttf);
        font-style: normal;
    }
}

@layer components {
    .btn-primary {
        @apply text-[#fff] bg-green rounded-lg w-[100%] h-[56px] font-black leading-4 text-sm;
    }

    .input {
        @apply border border-[#E6E6E7] border-solid w-[100%] h-[56px] indent-6 mb-[3%] rounded-lg focus:outline-none focus:shadow-input focus:border-blue;
    }
}
